<p id="notice"><%= notice %></p>

<h1>Listing Vendors</h1>

<table border="1px">
  <thead>
    <tr>
      <th>Name</th>
      <th>Address</th>
      <th>Phno</th>
      <th>Email</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @vendors.each do |vendor| %>
      <tr>
        <td><%= vendor.name %></td>
        <td><%= vendor.address %></td>
        <td><%= vendor.phno %></td>
        <% if vendor.email.nil? %>
          <td><%= link_to "Enter Email" , vendor_email_path(vendor.id) %></td>
        <% else %>
          <td><%= link_to vendor.email.email_id, vendor_email_path(vendor.id) %></td>
        <% end %>
        <td><%= link_to 'Show', vendor %></td>
        <td><%= link_to 'Edit', edit_vendor_path(vendor) %></td>
        <td><%= link_to 'Destroy', vendor, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Vendor', new_vendor_path %>
